<html lang="en">
<head>
   {{>links}}
</head>
<body>
    
   {{>navbar}}
    
<!-- headaer-->
        <div class="containter-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
              
                 <!--left-->
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                            <figure>
                                <img src="images/404err.jpg" alt="STarK" class="img-fluid" title="stark">
                            </figure>
                      
                    <p>Welcome to STarK Family</p>
                    <h1>{{errorMsg}}</h1>
                    <a href="/"><button>Go back</button></a>
                </div>
                
                <!--right-->
                
            </div>

                </div>
            </div>
        </div>
<!--footer-->
         {{>footer}}
</body>
</html>