<html lang="en">
<head>
   {{>links}}
</head>
<body>
    
   {{>navbar}}
    
<!-- headaer-->
        <div class="containter-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
              
                 <!--left-->
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <figure>
                                <img src="images/about.jpg" alt="STarK" class="img-fluid" title="stark">
                            </figure>
                          </div>
                    </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to STarK Family</p>
                    <h1>I Am a  <span class="text_clr"> Web Developer  </span> , Video Editor And a Sports Person</h1>
                    <a href="#" target="_blank"><button>about me</button></a>
                </div>
                
                <!--right-->
                
            </div>

                </div>
            </div>
        </div>
<!--footer-->
         {{>footer}}
</body>
</html>